html {
    height: 100%;
}

body {
    display: flex;
    background-color: #555555;
    height: 100%;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #FFFFFF;
    text-align: center;
    width: 480px;
    border-radius: 50px;
}

input {
    text-align: center;
}

input[type="text"] {
	width: 100px;
}

.main-container {
    background-color: #888888;
    width: 240px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 25px;
}

#cost-inputs h2 {
    margin: 0;
}

.cost-art {
}

#name-input-form {
    background-color: #CCCCCC;
}

label {
	background-color: #B9B9B9;
	display: block;
}
